<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> 是基于<a href='https://github.com/rstacruz/cheatsheets/'>rstacruz</a>开源项目搭建的cheatsheets网站，主要是为了方便快速查阅金融相关知识点.
      建议或修改? <a href='https://github.com/chinobing/cheatsheets/issues/'>来来来</a>.
      <i class='fleuron'></i>
      我的其他网站：<a href="http://cnvar.cn">cnvar.cn</a> | <a href="http://f10.org">f10.org</a> 
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='..'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
