{% assign slug = include.page.url | remove: '.html' | remove_first: '/' %}
<a class='{{ include.class }} -item-{{ slug }}'
  href="{{base}}{{ include.page.url | remove: '.html' }}"
  data-js-searchable-item='{"slug":"{{ slug }}","title":"{{ include.page.title }}","category":"{{ include.page.category }}","keywords":"{{ include.page.keywords }}"}'>
  <span class='info'>
    <code class='slug'>{{ include.page.title }}</code>

    {% for p in site.pages %}
    {% if p.tags contains 'star' %}
      <abbr class='attribute-peg -new-layout hint--bottom' data-hint='STARRED!'><span>⭐</span></abbr>
    {% endif %}
    {% endfor %}

    {% assign title = slug | replace: "-", " " | split: '/' | shift %}
    <span class='title'>{{ title }} {{ include.page.redirect_to }}</span>
  </span>
</a>
